.ipynb_checkpoints/
.idea/
__pycache__/
*.pyc
/build/
/dist/
*.egg-info/
models/investor_views.py
strategies/cape_strategy.py
tests/test_authentication.ipynb
tests/test_etrade.ipynb
tests/test_model_demo.ipynb
tests/test_model_tia.ipynb
tests/test_model_yahooquery.ipynb
tests/test_strategy.ipynb
dev/strategy_example.ipynb
dev/test_etradebot_cape_strategy.ipynb
bot_log*.txt
run_main.bat
ETradeBot Marketing Plan.docx
/jupyter/
/dev/test_strategy.ipynb
/dev/
